<div class="linear-progress-material" *ngIf="!spin">
  <div class="bar bar1"></div>
  <div class="bar bar2"></div>
</div>
<div class="centerText" *ngIf="spin">
  <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px;"></i> </ng-template>
  <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
  <p>Loading ...</p>
</div>
