<div id="dropZoneArea" ng2FileDrop
     [ngClass]="{'nv-file-over': hasBaseDropZoneOver, 'disabledInput': readonly}"
     [uploader]="uploader"
     (fileOver)="fileOverBase($event)"
     (onFileDrop)="onFileSelected($event)"
     onclick="$('#uploaderInput').click()">
 Drop File
</div>

<!--Multiple-->
<input type="file" style="visibility: hidden;" id="uploaderInput" ng2FileSelect multiple
       [uploader]="uploader"
       (onFileSelected)="onFileSelected($event)" />


<div class="uploaderFiles" *ngIf="(uploader.queue && uploader.queue.length >0) || (filesList && filesList.length >0)">

  <!--new files-->
  <div *ngIf="uploader.queue">
    <div class="fileCard animated zoomIn" *ngFor="let item of uploader.queue; let i=index">
      <div class="fileCardContent">
          <h4>{{ item?.file?.name }}</h4>
          <button type="button" nz-button nzType="danger" nzShape="circle"
                  [disabled]="loading"
                  (click)="deleteQueueFile(item, i)">
            <i nz-icon nzType="delete"></i>
          </button>
          <button type="button" nz-button nzType="primary" nzShape="circle" style="margin-right: 30px;"
                  [disabled]="loading" (click)="downloadFile(filesQueue[i])">
            <i nz-icon nzType="eye"></i>
          </button>
      </div>
    </div>
  </div>


  <!--already uploaded-->
  <div *ngIf="filesList">
    <div class="fileCard animated zoomIn" *ngFor="let item of filesList; let i=index">
      <div class="fileCardContent">
        <h4><b>{{ item.fileName }}</b></h4>
        <button type="button" nz-button nzType="danger" nzShape="circle" *ngIf="!readonly"
                [disabled]="loading"
                (click)="deleteFile(item, i)">
          <i nz-icon nzType="delete"></i>
        </button>
        <button type="button" nz-button nzType="primary" nzShape="circle" style="margin-right: 30px;"
                [disabled]="loading" (click)="downloadFile(filesList[i])">
          <i nz-icon nzType="eye"></i>
        </button>
      </div>
    </div>
  </div>
</div>
