<nz-content class="routeContent">
  <app-loading-bar *ngIf="loading"></app-loading-bar>
  <nz-page-header>
    <nz-page-header-title><i nz-icon nzType="file"></i> {{formTitle}} </nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button nzType="primary" [disabled]="loading" [routerLink]="'../'"><i nz-icon nzType="snippets"></i> Owners</button>
    </nz-page-header-extra>
    <nz-page-header-content></nz-page-header-content>
  </nz-page-header>
  <form nz-form [formGroup]="modelForm" (ngSubmit)="submitForm()" class="uiForm" *ngIf="modelForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="date">date</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-date-picker formControlName="date" id="date" placeholder="date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="pet" type="email">pet</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-select formControlName="pet" id="pet"  nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="pet._links.self.href" [nzLabel]="pet.name" *ngFor="let pet of pets"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="doctor" type="email">doctor</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-select formControlName="doctor" id="doctor"  nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="doctor._links.self.href" [nzLabel]="doctor.name" *ngFor="let doctor of doctors"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="clinic" type="email">clinic</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-select formControlName="clinic" id="clinic"  nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="clinic._links.self.href" [nzLabel]="clinic.name" *ngFor="let clinic of clinics"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item style="margin-top: 0; margin-bottom: 10px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6" class="formActions">
        <button nz-button type="submit" nzType="primary" [disabled]="modelForm.invalid || loading"><i nz-icon nzType="check"></i> {{selectedModel ? 'Update' : 'Save'}}</button>
        <button nz-button type="button" nzType="dashed" [disabled]="loading" (click)="modelForm.reset()"><i nz-icon nzType="form"></i> Clear Form</button>
        <button nz-button type="button" nzType="danger" [disabled]="loading"  *ngIf="selectedModel" (click)="deleteModel()"><i nz-icon nzType="delete"></i> Delete</button>
        <button nz-button type="button" nzType="secondary" [disabled]="loading"  *ngIf="selectedModel" (click)="createNew()"><i nz-icon nzType="diff"></i> New</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
