<nz-content class="routeContent">
  <app-loading-bar *ngIf="loading"></app-loading-bar>
  <nz-page-header>
    <nz-page-header-title><i nz-icon nzType="file"></i> {{formTitle}} </nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button nzType="primary" [disabled]="loading" [routerLink]="'../'"><i nz-icon nzType="snippets"></i> Doctors</button>
    </nz-page-header-extra>
    <nz-page-header-content></nz-page-header-content>
  </nz-page-header>
  <form nz-form [formGroup]="modelForm" (ngSubmit)="submitForm()" class="uiForm" *ngIf="modelForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <vet-uploading-bio #uploadArea
                           [fileDataUrl]="selectedModel ? selectedModel.bioPath : null"
                           (fileEvent)="handleFilesEvents($event)"></vet-uploading-bio>
        <br/>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="name">name</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <input nz-input formControlName="name" id="name" placeholder="name"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="phone">phone</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <input nz-input formControlName="phone" id="phone" placeholder="phone"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="gender">gender</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-select formControlName="gender" id="gender"  nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="gender.value" [nzLabel]="gender.name" *ngFor="let gender of genders"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="clinicId">clinic</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <nz-select formControlName="clinicId" id="clinicId"  nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="clinic.id" [nzLabel]="clinic.name" *ngFor="let clinic of clinics"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="address" nzRequired>address</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required!">
            <textarea rows="4" nz-input formControlName="address" placeholder="address" id="address"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item style="margin-top: 0; margin-bottom: 10px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6" class="formActions">
        <button nz-button type="submit" nzType="primary" [disabled]="modelForm.invalid || loading"><i nz-icon nzType="check"></i> {{selectedModel ? 'Update' : 'Save'}}</button>
        <button nz-button type="button" nzType="dashed" [disabled]="loading" (click)="modelForm.reset()"><i nz-icon nzType="form"></i> Clear Form</button>
        <button nz-button type="button" nzType="danger" [disabled]="loading"  *ngIf="selectedModel" (click)="deleteModel()"><i nz-icon nzType="delete"></i> Delete</button>
        <button nz-button type="button" nzType="secondary" [disabled]="loading"  *ngIf="selectedModel" (click)="createNew()"><i nz-icon nzType="diff"></i> New</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
