.ant-layout{
  height: 91vh;
}
.ant-layout.mainContent{
  border-left: 1px solid rgb(219, 212, 212);
}
.ant-layout-full{
  height: 100vh;
}
.logo {
  width: 120px;
  height: 31px;
  //background: rgb(240, 242, 245);
  margin: 16px 30px 16px 0;
  float: left;
  text-align: center;
  display: block;
  overflow: hidden;
  //border-radius: 40px;
}
.logo a{
  top: -17px;
  position: relative;
  font-weight: bold;
  color: #324BE6 !important;
}
.logo a img{
  width: 30px;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 30px 24px 24px;
  overflow-x: hidden;
  border-radius: 15px 0 0 0;
  margin-top: -3px;
  margin-left: -5px;
  z-index: 2;
  //border-left: 1px solid rgb(219, 212, 212);
}
.ant-layout-sider{
  z-index: 1;
}
