<nz-layout>
  <nz-header>
    <div class="logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="assets/img/logo-sm.png" alt=""/>
       Vet Clinic
      </a>
    </div>
    <ul nz-menu nzMode="horizontal" class="header-menu">
      <li nz-menu-item *ngFor="let item of navQuickShortcut" style="padding: 0 15px;">
        <a [routerLink]="item.route" nzTooltipPlacement="bottom" nz-tooltip [nzTooltipTitle]="item.title">
          <img [src]="item.iconPath" alt="" style="width: 22px;"/>
        </a>
      </li>
      <li style="float: right;">
        <a nz-dropdown [nzDropdownMenu]="menu" style="font-weight: bold;  color: #324BE6 !important;">
         User Name <nz-avatar nzSize="large" nzIcon="user" style="margin-left: 10px;"></nz-avatar>
        </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>settings</li>
              <li nz-menu-item (click)="logout()">Logout</li>
            </ul>
          </nz-dropdown-menu>
      </li>
    </ul>
  </nz-header>
  <nz-layout class="mainContent">
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu" style="margin-top: 40px; padding-left: 10px;">
        <ng-template ngFor let-item [ngForOf]="AppSideMenu" let-i="index">
          <li nz-submenu [nzOpen]="i===0" [nzTitle]="item.title" *ngIf="item.items"
              style="position: relative; display: block;">
            <img [src]="item.icon" alt=""  style="width: 15px; position: absolute; top: 10px; left: 5px;"/>
            <ul *ngFor="let subItem of item.items">
              <li nz-menu-item [nzSelected]="false">
                <a [routerLink]="subItem.route">{{subItem.title}}</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item *ngIf="!item.items" style="position: relative; display: block;">
            <a [routerLink]="item.route">
              <!--<i nz-icon [nzType]="item.icon"></i>-->
              <img [src]="item.icon" alt=""  style="width: 15px; position: absolute; top: 10px; left: 5px;"/>
              <span>{{item.title}}</span>
            </a>
          </li>
        </ng-template>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
