<nz-content class="routeContent">
  <app-loading-bar *ngIf="loading"></app-loading-bar>
  <nz-page-header>
    <nz-page-header-title><i nz-icon nzType="file"></i> {{formTitle}} </nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button nzType="primary" [disabled]="loading" [routerLink]="'../'"><i nz-icon nzType="snippets"></i> Clinic</button>
    </nz-page-header-extra>
    <nz-page-header-content></nz-page-header-content>
  </nz-page-header>
  <form nz-form [formGroup]="modelForm" (ngSubmit)="submitForm()" class="uiForm" *ngIf="modelForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="name">name</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <input nz-input formControlName="name" id="name" placeholder="name"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="email" type="email">email</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <input nz-input formControlName="email" id="email" placeholder="email"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzFor="phone">phone</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required">
            <input nz-input formControlName="phone" id="phone" placeholder="phone"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="workingDays" nzRequired>workingDays</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required!">
            <nz-range-picker formControlName="workingDays" id="workingDays"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="startTime" nzRequired>start Time</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required!">
            <nz-time-picker formControlName="startTime" id="startTime"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="endTime" nzRequired>End Time</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required!">
            <nz-time-picker formControlName="endTime" id="endTime"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="address" nzRequired>address</nz-form-label>
          <nz-form-control nzErrorTip="The input is Required!">
            <textarea rows="4" nz-input formControlName="address" placeholder="address" id="address"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item style="margin-top: 0; margin-bottom: 10px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6" class="formActions">
        <button nz-button type="submit" nzType="primary" [disabled]="modelForm.invalid || loading"><i nz-icon nzType="check"></i> {{selectedModel ? 'Update' : 'Save'}}</button>
        <button nz-button type="button" nzType="dashed" [disabled]="loading" (click)="modelForm.reset()"><i nz-icon nzType="form"></i> Clear Form</button>
        <button nz-button type="button" nzType="danger" [disabled]="loading"  *ngIf="selectedModel" (click)="deleteModel()"><i nz-icon nzType="delete"></i> Delete</button>
        <button nz-button type="button" nzType="secondary" [disabled]="loading"  *ngIf="selectedModel" (click)="createNew()"><i nz-icon nzType="diff"></i> New</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-content>
