.bioContainer{
  position: relative;
  display: block;
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}
.bioContainer .ant-avatar{
  cursor: pointer;
}
.bioContainer button{
  position: relative;
  display: block;
  margin: 0 auto;
}
.bioContainer img{
  position: relative;
  display: block;
  max-width: 150px;
  margin: 0 auto;
  cursor: pointer;
}
