<div class="bioContainer">
  <nz-avatar [nzSize]="150" nzIcon="user"
             onclick="$('#uploaderInput').click()"
             *ngIf="!fileDataUrl"></nz-avatar>
  <img [src]="fileDataUrl" alt=""
       onclick="$('#uploaderInput').click()"
       *ngIf="fileDataUrl"/>

  <input type="file" style="visibility: hidden;" id="uploaderInput" ng2FileSelect
         [uploader]="uploader"
         accept="image/x-png,image/gif,image/jpeg"
         (onFileSelected)="onFileSelected($event)" />
  <!--<button nz-button nzType="primary">Upload</button>-->
</div>

