<nz-content class="routeContent">
  <div class="sectionContainerTitle"><img src="assets/img/icons/visit.svg" alt=""/> Visits</div>
  <nz-page-header>
    <!--title-->
    <nz-page-header-title>
     <!-- <form (submit)="search()">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input [placeholder]="'search'" [formControl]="searchCtrl" [readonly]="loading"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch type="submit" [disabled]="loading">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </form>-->
    </nz-page-header-title>

    <!--extra-->
    <nz-page-header-extra>
      <a nz-button nzType="primary" [routerLink]="'form'"><i nz-icon nzType="diff"></i> New Visit</a>
      <button nz-button nzType="primary" [disabled]="loading" (click)="loadData()" ><i nz-icon nzType="sync"></i>  Refresh</button>
    </nz-page-header-extra>

    <!--content-->
    <nz-page-header-content></nz-page-header-content>
  </nz-page-header>


  <app-data-table
    [indexed]="true"
    [buttonsActons]="true"
    [listOfData]="listOfDataFiltered"
    [listOfColumns]="listOfColumns"
    [listOfActions]="listOfActions"
    [loading]="loading"
    (datatableEvent)="datatableEventHandle($event)">
  </app-data-table>
</nz-content>
