<nz-content>
  <div class="dashboardWidgets">
    <ng-template ngFor let-card [ngForOf]="dashBoardCards" let-i="index" >
      <div (click)="openSection(card)" *ngIf="card.title !== 'home'">
        <div class="cardText">
          <div><img [src]="card.iconPath" alt=""/></div>
          <h1>{{card.title}}</h1>
        </div>
      </div>
    </ng-template>
  </div>
</nz-content>
