.dashboardWidgets{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 0 50px;
  margin-top: 90px;
  margin-bottom: 20px;
}
.dashboardWidgets > div {
  cursor: pointer;
  position: relative;
  flex: 1 1 calc(33.333% - 150px);
  padding: 10px 32px 0 32px;
  margin: 0 16px;
  background: #fff !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 15px;
  font-size: 16px;
  margin-top: 70px;
}
.dashboardWidgets > div img{ max-width: 40px;}
.dashboardWidgets > div:nth-child(1) img,
.dashboardWidgets > div:nth-child(3) img{ max-width: 30px;}
.cardText div {
  float: left;
  height: 60px;
  width: 60px;
  background: #ffff;
  border-radius: 50px;
  margin-top: -40px;
  padding: 15px;
  text-align: center;
}
.cardText h1 {float: right; font-size: 22px;  color: #001529; font-weight: bold;   text-transform: uppercase;}
:host(nz-content){background: transparent !important;}
nz-content {
  background: transparent;
  padding: 24px;
  min-height: 280px;
}
