/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
*{
  font-family: 'Cairo', sans-serif;
}
.example-spacer {
  flex: 1 1 auto;
}
nz-content.routeContent {
  margin-top: 20px;
}
nz-content.sectionContainer, nz-content.routeContent  {
  border-radius: 5px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03), 0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03),
  0 0.25rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03)
}
.sectionContainerTitle{
  position: relative;
  width: fit-content;
  padding: 10px 20px;
  font-weight: bold;
  color: #222;
  font-size: 19px;
  margin-top: -50px;
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 20px;
}
.sectionContainerTitle img{
  width: 25px;
}
.ant-table {
  border: 1px solid #e8e8e8;
  padding: 8px;
  background: #fafafa;
}
.ant-table tr{ background: #ffffff}
.ant-table td{ padding: 5px !important;}
nz-breadcrumb.routeCrumb{
  margin-top: 20px;
}
nz-breadcrumb-item:last-child {
  color: rgb(24, 144, 255) !important;
  font-weight: bold;
}
.ant-layout-header{
  background: #fff !important;
  color: #324BE6 !important;
}
htm, body{
  overflow: hidden;
}
.ant-layout {
  background: #efefef;
}
.ant-btn-primary{
  background: #324BE6 !important;
}
.uiForm{
  text-align: left; border: none
}
.formActions button{ margin: 0 3px}
.ant-select{ min-width: 140px;}
